<html>
  <head></head>
  <body>
    <h1>
    ERROR
    </h1>
    <h2>
      Invalid parameters.  
    </h2>
    <p>
      Please enter:<br>
        1. A single-character true symbol<br>
        2. A single-character false symbol<br>
        3. A size greater than or equal to 2<br>
        4. Differents characters for the true and false symbols.
    <p>
    <a href="/">Back to main</a>
  </body>
</html>