<html>
  <head></head>
  <body>
    <h1>
    ERROR
    </h1>
    <h2>
      Here is some info:
    </h2>
    <p>
      The data you entered are invalid
    <p>
    <a href="/">Back to main</a>
  </body>
</html>