<html>
  <head></head>
  <body>
    <form action='/display' method='get'>
      <label>True sysmbol:</label>
      <input type='text' name='ts' /> <br>
      <label>False sysmbol:</label>
      <input type='text' name='fs' /> <br>
      <label>Size (2^x):</label>
      <input type='text' name='size' /> <br>
      <input type='submit' value='Show truth table' />
    </form>
    <a href="/">Reload page</a>
  </body>
</html>