<html>
  <head></head>
  <body>
    <form>
      True sysmbol:
      <input type='text' name='ts' /> <br>
      False sysmbol:
      <input type='text' name='fs' /> <br>
      Size (2^x):
      <input type='text' name='size' /> <br>
      <input type='submit' value='Show truth table' />
    </form>
    <a href="/">Reload page</a>
  </body>
</html>